*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family:'Poppins', sans-serif;
    background-color: #FFF4D2;
    font-size: 24px;
    font-weight: bolder;
    background-image: url(../images/resim1.png);
    background-size: cover;
   
   
}

/* nav logo start */
nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .logo {
    text-align: left;
    margin-top: 25px;
    padding: 20px;

}

nav .logo a{
    text-decoration: none;
}
nav .logo a:hover{
    background-color: #ECC9EE;
    border-radius: 30px;
}

/* nav logo end */


/* menu-bar start */
.menu-bar{
    align-items: center;
    margin-top: 25px;
    padding: 20px;
    
   
}
.menu-bar ul {
    display: inline-flex;
    list-style: none;
    margin: 15px;
    padding: 5px;
    column-gap: 20px;
}

.menu-bar ul li a{
    text-decoration: none;
    
}

.menu-bar ul li a:hover{
    background-color: #ECC9EE;
    border-radius: 30px;
}
/* menu-bar end */
